/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/



* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

.accueil {a
  margin-right: 60px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}


.accueil:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  color: var(--green); 
}
.equipe:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  color: var(--green); 
}
.services:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  color: var(--green); 
}
.temoin:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  color: var(--green); 
}
.contact:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  color: var(--green); 
}


.galerie:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  color: var(--green); 
}


nav {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-size: calc(0.3 + 1 / 5);
  position: fixed;
  width: 100%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 90%;
}

li {
  font-weight: bold;
}

.eco {
  font-style: italic;
  font-size: 1.4em;
  color:var(--green);
  display: flex;
}
.agen {
  display: flex;
  align-items: center;
}


b {
  font-size: 1.3em;
  color: var(--green);
  display: flex;
}

.accueil {
  margin-right: 60px;
}
.equipe {
  margin-right: 60px;
}

.services {
  margin-right: 60px;
}

.temoin {
  margin-right: 60px;
}

.contact {
  margin-right: 60px;
}

/* MENU BUGERKING */

#icons {
  cursor: pointer;
  display: none;
}

@media (max-width: 668px) {
  #icons {
    display: block;
  }
  #icons:before {
    content: "\2630";
  }
  .active #icons:before {
    content: "\2715";
  }
  #nav {
    margin: -30px 0 0 0;
  }

  ul {
    margin: 0 0 0 0;
  }

  nav ul {
    position: fixed;
    left: -100%;
    top: 4%;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

        -ms-flex-direction: column;

            flex-direction: column;
    background: white;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
  }
  #icons {
    padding-left: 400px;
    font-size: 1.6em;
    margin-top: 14px;
  }

  nav li {
    padding: 1px 0;
  }
  .galerie {
    margin: 0 55px 0 0;
  }
  nav li:hover {
    background: rgb(234, 238, 239);
    width: 50%;
    margin: 0 140px 0 140px;
  }
  nav.active ul {
    left: 0;
  }
  /* MENU BUGERKING fin!!!!!! */
  .agen,
  .eco {
    display: none;
  }

  #disparaitre {
    display: none;
  }
.form{

display: flex;

}



}

@media (max-width: 601px) {
  .form {
      padding: 10px;
  }

  .col-sm-100 {
      width: 100% !important;
      padding: 0 10px;
  }

  .mt-sm-50 {
      margin-top: 50px;
  }

  .pr-sm-0 {
      padding-right: 0;
  }

  .pl-sm-0 {
      padding-left: 0;
  }
}



.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

title {
  font-style: italic;
}

/* ma barre de navigation d'accueil */

.headerNav {
  background: #d5f31f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.logo,
h1 {
  color: #053b44;
  font-family: "Poppins", sans-serif;
  padding-left: 20px;
}

#notre-equipe {
  font-size: 2.5em;
  color: var(--green);
}

#service {
  font-size: 2.5em;
  color: var(--green);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
#contact-nous {
  font-size: 3em;
  color: var(--primary);
}
#galerie {
  font-size: 2.5em;
  color: var(--green);
}


.navindex {
  color: black;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding-right: 20px;
}

.navequipe {
  color: black;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding-right: 20px;
}
.navservice {
  color: black;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding-right: 20px;
}
.navtemoignage {
  color: black;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding-right: 20px;
}
.navcontacte {
  color: black;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding-right: 20px;
}
.navgalerie {
  color: black;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding-right: 20px;
}
/* ::::::::::::::::::::::::::::::::::::::::::::::::: */

/* MES 2 TITRES PRINCIPAUX  */

.accueil-introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;

  width: auto;
  height: 900px;
  background-image: url("../images/rodion-kutsaev-049M_crau5k-unsplash\ 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bienvenue {
  margin: 0px 190px 0px 0px;

  font-size: 4em;
  color: white;
  -webkit-animation:colorChange 3s infinite alternate;
          animation:colorChange 3s infinite alternate;
}

.agence {
  margin: 0px 190px 130px 0px;
  font-size: 5em;
  color: #d5f31f;
  -webkit-animation:colorChange2 3s infinite alternate;
          animation:colorChange2 3s infinite alternate;

}




@-webkit-keyframes colorChange{

0%{
  color: white;
}
50%{
  color: yellow;
}
100%{
  color: white;
} 

}




@keyframes colorChange{

0%{
  color: white;
}
50%{
  color: yellow;
}
100%{
  color: white;
} 

}

@-webkit-keyframes colorChange2{

  0%{
    color: yellow;
  }
  50%{
    color: white;
  }
  100%{
    color: yellow;
  } 
  
  }

@keyframes colorChange2{

  0%{
    color: yellow;
  }
  50%{
    color: white;
  }
  100%{
    color: yellow;
  } 
  
  }
  

  .letter {
    display: inline-block;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  }
  
  .letter:hover {
    -webkit-transform: scale(2) rotate(360deg);
        -ms-transform: scale(2) rotate(360deg);
            transform: scale(2) rotate(360deg);
    opacity: 0;
  }

.eco{
  margin: 0 10px 0 0 ;
}






/* ))))))))))PARTIE RESPONSIVE)))))))))))))))))))))))))))))))))))))))))))))))) */

@media screen and (max-width: 866px) {
  .navMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .navindex,
  .navequipe,
  .navservice {
    margin: 0 0 0 25px;
  }

  .navtemoignage,
  .navcontacte,
  .navgalerie {
    margin: 0 0 0 3px;
  }

  .accueil-introduction,
  .bienvenue,
  .agence {
    font-size: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 0 0 0;
  }
}

/* ///////////////////////871PX///////////////////// */
@media screen and (max-width: 461px) {
  .col-sm-100 {
    width: 100% !important;
  }
  .pl-sm-0 {
    padding-left: 0 !important;
  }
  .pr-sm-0 {
    padding-right: 0 !important;
  }
  .mt-sm-50 {
    margin-top: 50px !important;
  }
  .navMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .navindex,
  .navequipe,
  .navservice {
    margin: 0 0 0 25px;
  }

  .navtemoignage,
  .navcontacte,
  .navgalerie {
    margin: 0 0 0 3px;
  }

  .accueil-introduction,
  .bienvenue,
  .agence {
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 30px 0 0 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .agence {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0 0 550px 0;
  }
}


